        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Example Video Game Database by <a href="https://github.com/joshmossas">Josh Michaels</a>.</p>
                <p>
                    This website was made with <a href="https://expressjs.com/">ExpressJS</a> using the <a href="https://igdb.com">IGDB Api</a>.
                </p>
            </div>
        </footer>
    </body>
</html>